<form action="/answer" data-turbo="false" class="input-group mb-3">
  <input type="text" class="form-control" name="message" placeholder="Type message here">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
